<div class="dashboard-container">
    <h1>Dashboard</h1>
    <p>Latest AQI: {{ this.latestAQI }}</p>


    <circle-progress
        [percent]="getAQIPercentage()"
        [radius]="100"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="getAQIColor()"
        [innerStrokeColor]="'#e6e6e6'"
        [animation]="true"
        [animationDuration]="300"
        [showBackground]="false"
        [title]="'AQI: ' + latestAQI"
        [titleFontSize]="'24'"
        [titleColor]="'#333'"
        [titleFontWeight]="'bold'"
        [showTitle]="true"
        [showUnits]="false"
        [showSubtitle]="true"
        [subtitle]="getAQIText()"
        [subtitleFontSize]="'14'"
        [subtitleColor]="'#333'">
    </circle-progress>

</div>