<div class="history-container">
    <h2>Historical Data</h2>

    <label for="sensorSelect">Select Sensor: </label>
    <select id="sensorSelect" [(ngModel)]="selectedSensor" (change)="onSensorChange(selectedSensor)">
        <option *ngFor="let sensor of sensorTypes" [value]="sensor">{{ sensor }}</option>
    </select>

    <button (click)="onRangeChange('24h')" [class.active]="selectedRange === '24h'">24h</button>
    <button (click)="onRangeChange('7d')" [class.active]="selectedRange === '7d'">7d</button>

    <canvas #myChart></canvas>

</div>